<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body background="background.jpg" background-repeat:repeat >

    <h1>
        Hello <%= note.name %>! Thank you for your post!
    </h1>
    <div class="containerForm">
    <div class="blogpost" style="width: 33%";>
    <h4 class="date"><%= note.name%> <%= note.surname%> from <%= note.country%> wrote on: </h4>
    <p class="today" style="font-size: 1em; color:#604CC3;"><%=note.date %></p>
    <p class="blog" style="font-size: 1em; color:whitesmoke;">"<%= note.posts %>"</p>
    <form action="/delete/<%= note.id %>" method="POST"> <!-- Use POST method with ID -->
        <div class="row">
            <input class="btn" type="submit" name="action" value="Update">
            <input type="submit" name="action" value="Delete"> <!-- identifies the action -->
        </div>
    </form>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
